<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Eat-Da-Burger</title>
    <link rel="stylesheet" href="assets/css/burger_style.css">

</head>

<body>
    <div id='container'>
        <div id='centerSection'>
            <img src="assets/img/burger.png" alt="Image not found.">
            <h1>Eat-Da-Burger!</h1>
            <div id='mainScroll'>
                <div id='mainContent'>{{{ body }}}</div>
            </div>
            <br>
            <input type='text' id='inputTxtArea'></input>
            <br>
            <button id='SubmButton'>Submit</button>
            <br>
            <span>Enter a burger you want to eat. Click the "Submit" button.</span>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="assets/js/script.js"></script>
</body>

</html>